(
  name: "Stage 24",
  map: [
    "....SS..BBSS.........B....",
    "....SS..BB...........B....",
    "....BB..BBFF..BBBBBBBB....",
    "....BB..BBFF....BBBBBB....",
    "..FFFF..BBFF.BB.......SSSS",
    "..FFFF..BBFF.BB.......SSSS",
    "FFFFFFFFFFFFBBBBBB...BBB..",
    "FFFFFFFFFFFFBBBBBB...BBB..",
    "....FFFF....SSBB...BBBBB.B",
    "....FFFFBBBB..BB...BBB...B",
    "BBSS....BBBB......BBBB...B",
    "BB....BB..........BB.....B",
    ".B....BBIIIIIIIIIIIIIIIIII",
    ".B..BBBBIIIIIIIIIIIIIIIIII",
    ".B..BB..IIIIIIIIIIIIIIIIII",
    ".B......IIIIIIIIIIIIIIIIII",
    "....SS..IIIIIIIIIIIIIIIIII",
    "....SS..IIIIIIIIIIIIIIIIII",
    "BB..BB..IIIIIIIIIIIIIIIIII",
    "BB..BB..IIIIIIIIIIIIIIIIII",
    ".B..BB..IIIIIIIIIIIIIIIIII",
    ".B..BB..IIIIIIIIIIIIIIIIII",
    ".B..BB..........IIIIIIIIII",
    ".B..BB.....BBBB.IIIIIIIIII",
    "....BB.....BEEB...IIIIIIII",
    "...........BEEB...IIIIIIII",
  ],
  player_spawn: (x: 8, y: 24, facing: Up),
  base_position: (x: 12, y: 24),
  enemy_spawns: [
    (x: 0, y: 0, facing: Down),
    (x: 12, y: 0, facing: Down),
    (x: 24, y: 0, facing: Down),
  ],
  enemies: [
    Fast, Armor, Power, Fast, Armor,
    Power, Armor, Fast, Power, Armor,
    Fast, Power, Armor, Power, Fast,
    Armor, Power, Armor, Fast, Power,
  ],
  powerup_carriers: [
    (enemy: 2, kind: Star),
    (enemy: 5, kind: Helmet),
    (enemy: 9, kind: Clock),
    (enemy: 12, kind: Grenade),
    (enemy: 16, kind: Shovel),
    (enemy: 20, kind: Tank),
  ],
  spawn_interval_secs: 0.82,
  max_enemies_on_screen: 4,
  player_steel_destruction: true,
)
