(
  name: "Stage 33",
  map: [
    "........SS........SS......",
    "........SS........SS......",
    "..SS......SS....SSFFFF....",
    "..SS......SS....SSFFFF....",
    "....SS........SSFF..S.....",
    "....SS........SSFFSSS.....",
    "......SS..FFFFFFFFFF...S..",
    "......SS..FFFFFFFFFF...S..",
    "..S.....SSFFFFSSFF....SS..",
    "..S.....SSFFFFSSFF....SS..",
    "..SSS.FF..SSFFFFSS.....S..",
    "....S.FF..SSFFFFSS.....S..",
    "....FFFFFFFFFF....SS......",
    "....FFFFFFFFFF....SS......",
    "....S.FF..SSFF......SS....",
    "..SSS.FF..SSFF......SS....",
    "..FFFFFFSS..SS........SS..",
    "..FFFFFFSS..SS..SS....SS..",
    "FFFFFFSS.........S........",
    "FFFFFFSS.........S........",
    "....SS.................SSS",
    "....SS.................SSS",
    "....................S.....",
    "...........BBBB...SSS.....",
    "S..........BEEB...........",
    "S...SS.....BEEB...........",
  ],
  player_spawn: (x: 8, y: 24, facing: Up),
  base_position: (x: 12, y: 24),
  enemy_spawns: [
    (x: 0, y: 0, facing: Down),
    (x: 12, y: 0, facing: Down),
    (x: 24, y: 0, facing: Down),
  ],
  enemies: [
    Armor, Fast, Power, Armor, Fast,
    Power, Armor, Fast, Power, Armor,
    Fast, Power, Armor, Fast, Power,
    Armor, Power, Fast, Armor, Power,
  ],
  powerup_carriers: [
    (enemy: 1, kind: Helmet),
    (enemy: 3, kind: Star),
    (enemy: 6, kind: Clock),
    (enemy: 10, kind: Grenade),
    (enemy: 14, kind: Shovel),
    (enemy: 18, kind: Tank),
  ],
  spawn_interval_secs: 0.64,
  max_enemies_on_screen: 4,
  player_steel_destruction: true,
)
